<div class="card car-card">
  <div class="card-body">
    <img class="img-fluid w-100 mb-3" src='<%- item.image  %>' alt="Car" />
    <span class="type mb-2"><%- item.name %> </span>
    <% 
      var price = item.price;
      
      var number_string = price.toString(),
      sisa 	= number_string.length % 3,
      rupiah 	= number_string.substr(0, sisa),
      ribuan 	= number_string.substr(sisa).match(/\d{3}/g);

      if (ribuan) {
        separator = sisa ? '.' : '';
        rupiah += separator + ribuan.join('.');
      }
    %> 
    <span class="price mb-3">Rp <%= rupiah %>  / hari</span>
    <span class="time mb-3"
      ><i data-feather="key"></i><%= moment(item.startRent).format('DD MMM YYYY') %> - <%= moment(item.finishRent).format('DD MMM YYYY') %></span
    >
    <span class="updatedAt mb-4"
      ><i data-feather="clock"></i> Updated at <%= moment(item.updatedAt).format('DD MMM YYYY, hh.mm') %></span
    >
    <div class="d-flex card-action justify-content-between">
      <a class="btn btn-outline-danger mr-3" data-toggle="modal" href="#modalDelete<%=item.id%>">
        <i data-feather="trash"></i> Delete</a
      >
      <a class="btn btn-success" href='/car/update/<%=item.id%>'/><i data-feather="edit"></i> Edit</a>
    </div>
  </div>
</div>